@charset "UTF-8";
/*
/pc/cnp/css/clinic2.css 
*/
.clinic_editor_wrap * {
  box-sizing: border-box;
}

.clinic_title_text {
  line-height: 1.25;
}
.clinic_title_text + .clinic_title_name {
  margin-bottom: 35px;
}

.clinic_editor_sub_title {
  letter-spacing: -0.05em;
}
.clinic_editor_sub_title .clinic_date {
  font-size: 80px;
  color: #898989;
  font-style: italic;
  margin-right: 50px;
}

.clinic_txt_white {
  color: #fff !important;
}

.clinic_txt_black {
  color: #000 !important;
}

.clinic_font_bold {
  font-weight: 700 !important;
}

.clinic_font_regular {
  font-weight: 400 !important;
}

.clinic_title_name span {
  letter-spacing: 0;
  font-weight: 500;
  line-height: 1.25;
}

.transparent_circle ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transparent_circle ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #ffb400;
  margin-right: -18px;
  position: relative;
}
.transparent_circle ul li:nth-child(even) {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.transparent_circle ul li:last-child {
  margin-right: 0;
}

.clinic_y_circle ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clinic_y_circle ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: #222;
  width: 110px;
  height: 110px;
  border: 8px solid #ffb400;
  border-radius: 50%;
}

.center_bx {
  max-width: 1100px;
  margin: 0 auto;
}

.clinic_talk_bx {
  position: relative;
}
.clinic_talk_bx .txt_bx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41%;
  min-height: 175px;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.clinic_talk_bx .txt_bx p {
  font-size: 18px;
  color: #313131;
}
.clinic_talk_bx .txt_bx p span {
  display: block;
  position: relative;
}
.clinic_talk_bx .txt_bx p span::before, .clinic_talk_bx .txt_bx p span::after {
  content: "";
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.clinic_talk_bx .txt_bx p span::before {
  background-image: url(/pc/cnp/images/special-clinic/icon_ldquo.png);
  margin-right: 10px;
  vertical-align: 4px;
}
.clinic_talk_bx .txt_bx p span::after {
  background-image: url(/pc/cnp/images/special-clinic/icon_rdquo.png);
  margin-left: 10px;
}

.border_bx {
  border: 1px solid #ddd;
}

.border_bx5 {
  border: 5px solid #ddd;
}

.border_bx40 {
  border: 40px solid #f9f9f9;
  box-sizing: border-box;
}
.border_bx40 .clinic_inner {
  background-color: #fff;
}

.padding_bx40 {
  padding: 40px;
}

.clinic_badge_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.clinic_border_black {
  gap: 70px;
  border: 3px solid #000;
}
.clinic_border_black .clinic_inner {
  padding: 50px;
}

.clinic_flex_bx {
  display: flex;
}
.clinic_flex_bx.align_center {
  align-items: center;
}
.clinic_flex_bx.justify-center {
  justify-content: center;
}
.clinic_flex_bx.d-day.type01 {
  justify-content: space-between;
}
.clinic_flex_bx.d-day.type01 .txt_bx::before, .clinic_flex_bx.d-day.type01 .txt_bx::after {
  content: "";
  width: 21px;
  height: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}
.clinic_flex_bx.d-day.type01 .txt_bx::before {
  background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
  margin-bottom: 20px;
}
.clinic_flex_bx.d-day.type01 .txt_bx::after {
  background-image: url(/pc/cnp/images/special-clinic/d-day_icon_rdquo.png);
  margin-top: 20px;
}
.clinic_flex_bx.d-day.type02 {
  gap: 140px;
}
.clinic_flex_bx.d-day.type02 li .img_bx {
  margin-bottom: 16px;
}
.clinic_flex_bx.d-day.type02 li .txt_bx strong {
  display: inline-block;
  color: #222;
  margin-bottom: 8px;
}
.clinic_flex_bx.d-day.type02 li .txt_bx p {
  font-size: 16px;
  line-height: 28px;
}
.clinic_flex_bx.d-day.type03 {
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px;
}
.clinic_flex_bx.d-day.type03 li {
  width: calc(33.3333333333% - 44px);
  position: relative;
}
.clinic_flex_bx.d-day.type03 li::after {
  content: "";
  width: 12px;
  height: 20px;
  background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
  background-size: 12px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% - 18px);
  right: -40px;
}
.clinic_flex_bx.d-day.type03 li .txt_bx {
  font-size: 16px;
  margin-top: 14px;
}
.clinic_flex_bx.d-day.type03 li .txt_bx strong {
  display: inline-block;
  color: #222;
}
.clinic_flex_bx.d-day.type03 li:nth-child(3)::after, .clinic_flex_bx.d-day.type03 li:last-child::after {
  display: none;
}
.clinic_flex_bx.d-day.type04 {
  justify-content: center;
  gap: 78px;
}
.clinic_flex_bx.healing.type01 {
  flex-wrap: wrap;
  justify-content: center;
  gap: 66px;
}
.clinic_flex_bx.healing.type01 li {
  width: calc(33.3333333333% - 44px);
  position: relative;
}
.clinic_flex_bx.healing.type01 li::after {
  content: "";
  width: 12px;
  height: 20px;
  background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
  background-size: 12px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% - 18px);
  right: -40px;
}
.clinic_flex_bx.healing.type01 li .txt_bx {
  font-size: 16px;
  margin-top: 14px;
}
.clinic_flex_bx.healing.type01 li .txt_bx strong {
  display: inline-block;
  color: #222;
}
.clinic_flex_bx.healing.type01 li:nth-child(3)::after, .clinic_flex_bx.healing.type01 li:last-child::after {
  display: none;
}

.badge {
  font-size: 18px;
  font-weight: 700;
  border-radius: 35px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 30px;
  box-sizing: border-box;
}
.badge.y {
  color: #000;
  background-color: #ffb400;
}
.badge.b {
  color: #ffb400;
  background-color: #000;
}

.bg_gray {
  background-color: #f9f9f9;
}

.title28 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}

.title18 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.clinic_title_desc .clinic_title_desc_point {
  font-weight: 700;
}

.clinic_title_sub {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}

.clinic_subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.clinic_title_bracket {
  font-weight: 500;
  font-size: 22px;
  color: #222;
  letter-spacing: -0.02em;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 40px auto;
  padding: 0 20px;
}
.clinic_title_bracket.xl {
  width: 884px;
}
.clinic_title_bracket.xl::before {
  content: "";
  width: 11px;
  height: 112px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_left_xl.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
.clinic_title_bracket.xl::after {
  content: "";
  width: 11px;
  height: 112px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_right_xl.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
.clinic_title_bracket.long {
  min-width: 820px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.25;
  padding: 0 20px;
}
.clinic_title_bracket.long::before {
  content: "";
  width: 11px;
  height: 53px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_left_long.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
.clinic_title_bracket.long::after {
  content: "";
  width: 11px;
  height: 53px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_right_long.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
.clinic_title_bracket.short::before {
  content: "";
  width: 11px;
  height: 30px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
}
.clinic_title_bracket.short::after {
  content: "";
  width: 11px;
  height: 30px;
  background-image: url(/pc/cnp/images/special-clinic/bracket_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
.clinic_title_bracket.ptt {
  width: 820px;
}

.clinic_qna {
  text-align: left;
  word-break: keep-all;
  background-color: #f9f9f9;
}
.clinic_qna ul li {
  margin-bottom: 8px;
  background-color: #fff;
}
.clinic_qna ul li .qna_tit {
  display: flex;
  align-items: center;
  padding: 25px 30px;
  border-bottom: 1px solid #ddd;
}
.clinic_qna ul li .qna_tit strong {
  width: calc(100% - 38px);
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #222;
}
.clinic_qna ul li .qna_tit::before {
  content: "";
  width: 24px;
  height: 28px;
  background-image: url(/pc/cnp/images/special-clinic/icon_q.png);
  background-size: 24px 28px;
  display: block;
  margin-right: 14px;
}
.clinic_qna ul li .qna_desc {
  padding: 25px;
}
.clinic_qna ul li:last-child {
  margin-bottom: 0;
}

.clinic_review .review_tit {
  margin-bottom: 35px;
}
.clinic_review .review_tit strong {
  font-weight: 400;
  font-size: 28px;
  color: #222;
}
.clinic_review .review_tit p {
  font-size: 16px;
  line-height: 28px;
}
.clinic_review ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.clinic_review ul li {
  width: calc(33.3333333333% - 30px);
}
.clinic_review ul li .desc {
  font-size: 16px;
  line-height: 28px;
  background-color: #fff;
  padding: 25px 10px;
}
.clinic_review ul li .desc p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.clinic_review ul li .desc p span {
  display: inline-block;
  position: relative;
}
.clinic_review ul li .desc p span::after, .clinic_review ul li .desc p span::before {
  content: "";
  width: 10px;
  height: 19px;
  background-size: 10px 19px;
  position: absolute;
  top: 0;
}
.clinic_review ul li .desc p span::before {
  background-image: url(/pc/cnp/images/special-clinic/icon_lsquo.png);
  left: -20px;
}
.clinic_review ul li .desc p span::after {
  background-image: url(/pc/cnp/images/special-clinic/icon_rsquo.png);
  right: -20px;
}
.clinic_review ul li .item {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  background-color: #ffb400;
  padding: 12.5px 10px;
}
.clinic_review.division02 ul {
  gap: 20px;
}
.clinic_review.division02 ul li {
  width: calc(50% - 10px);
}

.clinic_list_spread.division04 ul {
  display: flex;
  gap: 20px;
}
.clinic_list_spread.division04 ul li {
  width: 25%;
}
.clinic_list_spread.division04 ul li .img_bx {
  margin-bottom: 16px;
}

.clinic_table table {
  width: 100%;
  color: #000;
}

.clinic_table table caption {
  font-size: 0;
  visibility: hidden;
}

/*골드 ptt*/
.gold_ptt ul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1025px;
  margin: 0 auto;
}
.gold_ptt ul li {
  display: flex;
  align-items: center;
}
.gold_ptt ul li p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.25;
  color: #fff;
  border-radius: 50%;
  padding: 20px;
}
.gold_ptt ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/pc/cnp/images/special-clinic/clinic_ptt_plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 35px;
}
.gold_ptt ul li:last-child::after {
  display: none;
}
.gold_ptt ul li:nth-child(odd) p {
  background-color: #ffb400;
}
.gold_ptt ul li:nth-child(even) p {
  background-color: #000;
}
.gold_ptt.type02 li::after {
  width: 44px;
  height: 44px;
  background-image: url(/pc/cnp/images/special-clinic/plus_icon3.png);
}
.gold_ptt.laser_bx .badge {
  width: 642px;
  margin: 0 auto;
}

.ptt_better {
  width: 100%;
  min-height: 335px;
  border: 5px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.ptt_better strong {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: -0.05em;
  color: #000;
}
.ptt_better strong span {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: -0.05em;
}
.ptt_better ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
}
.ptt_better ul li .img_bx {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ptt_better ul li .txt_bx p {
  line-height: 1.2;
}
.ptt_better.mens ul {
  max-width: 760px;
}
.ptt_better.filler {
  min-height: 260px;
}
.ptt_better.filler ul li {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 30px;
}
.ptt_better.filler ul li .img_bx {
  margin-bottom: 0;
}
.ptt_better.healing ul {
  max-width: 720px;
}

.bg_peach {
  background-color: #fff7ea;
}

.ptt_table thead tr th, .ptt_table tbody tr td {
  height: 50px;
  border-right: 1px solid #ddd;
}

.ptt_table thead tr th:last-child, .ptt_table tbody tr td:last-child {
  border-right: 0;
}

.ptt_table thead tr th {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.ptt_table tbody tr td {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.ptt_table tbody tr td:first-child {
  font-size: 18px;
  font-weight: 500;
}

.clininc_recommend {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 40px solid #f9f9f9;
  padding: 20px;
}
.clininc_recommend .list_bx {
  margin-left: 120px;
}
.clininc_recommend .list_bx ul {
  background-color: #fff;
}
.clininc_recommend .list_bx ul li {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  position: relative;
  margin-bottom: 16px;
  text-align: left;
}
.clininc_recommend .list_bx ul li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: -8px;
  margin-right: 8px;
}

.recommend_bx {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.recommend_bx.laser_bx {
  gap: 120px;
}
.recommend_bx.justify-left {
  justify-content: flex-start;
}

.recommend_list ul {
  background-color: #fff;
}
.recommend_list ul li {
  font-weight: 400;
  font-size: 16px;
  color: #222;
  position: relative;
  margin-bottom: 16px;
  text-align: left;
  position: relative;
  margin-left: 40px;
  word-break: keep-all;
}
.recommend_list ul li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  transform: translateY(-50%);
  position: absolute;
  top: 52%;
  left: -40px;
}
.recommend_list ul li:last-child {
  margin-bottom: 0;
}
.recommend_list.type02 li {
  margin-left: 30px;
}
.recommend_list.type02 li::before {
  width: 18px;
  height: 17px;
  background-image: url(/pc/cnp/images/special-clinic/icon_check2.png);
  background-size: 18px 17px;
  left: -30px;
}
.recommend_list.type02.center li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-left: 0;
}
.recommend_list.type02.center li::before {
  position: static;
  transform: translateY(0);
}
.recommend_list.w_50 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 0;
}
.recommend_list.w_50 ul li {
  width: calc(50% - 40px);
  margin-bottom: 0;
}

.clinic_notice_list {
  background-color: #fff;
}
.clinic_notice_list li {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  position: relative;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 40px;
  word-break: keep-all;
}
.clinic_notice_list li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: -40px;
}
.clinic_notice_list li:last-child {
  margin-bottom: 0;
}

/*Drt*/
.drt_history {
  padding: 35px 30px;
}
.drt_history .list_bx {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.drt_history .list_bx ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 50px;
}
.drt_history .list_bx ul li .date {
  font-weight: 500;
  font-size: 18px;
  color: #222;
  margin-bottom: 10px;
}
.drt_history .list_bx ul li .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffb400;
  border: 3px solid #fff;
  margin: 0 auto;
}
.drt_history .list_bx ul li .tit {
  font-weight: 500;
  font-size: 18px;
  color: #222;
}
.drt_history .list_bx ul li .tit::before {
  content: "";
  width: 0;
  height: 18px;
  border-right: 4px dotted #ffb400;
  display: block;
  margin: 0 auto;
}
.drt_history .list_bx::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #666;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 25px;
  top: 40%;
  left: 0;
  z-index: -1;
}
.drt_history > p {
  font-size: 16px;
}

.drtgraph {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 40px;
}
.drtgraph .txt_bx strong {
  display: inline-block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 40px;
}
.drtgraph .txt_bx p {
  color: #666;
}

.drt_list_wrap {
  padding: 40px;
}
.drt_list_wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px auto 25px;
}
.drt_list_wrap ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border: 5px solid #ffb400;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.drt_list_wrap p strong {
  color: #000;
}

.drt_notice > div {
  display: flex;
  align-items: center;
}
.drt_notice > div .img_bx {
  margin-bottom: 20px;
}
.drt_notice > div .txt_bx {
  width: 30%;
}
.drt_notice > div .clinic_notice_list {
  width: 62%;
}

/*mens*/
.mens_recommend .clinic_inner {
  display: flex;
  align-items: center;
  gap: 86px;
}

.mens_vs .mens_vs_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}
.mens_vs .mens_vs_inner .badge {
  width: 200px;
  margin: 0 auto;
}
.mens_vs .mens_vs_inner .img_bx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.mens_vs .mens_vs_inner .txt_bx {
  margin-bottom: 30px;
}
.mens_vs .mens_vs_inner .txt_bx .badge {
  margin-bottom: 25px;
}
.mens_vs .mens_vs_inner .txt_bx p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: #666;
}
.mens_vs .mens_vs_inner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.mens_vs .mens_vs_inner ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  width: 105px;
  height: 105px;
  border: 5px solid #dadada;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
}
.mens_vs .mens_vs_inner ul li a::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(/pc/cnp/images/special-clinic/btn_arrow.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 7px;
  bottom: 14px;
  left: 50%;
  margin-left: -17px;
  transition: 400ms all;
}
.mens_vs .mens_vs_inner ul li a:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.mens_vs .mens_vs_inner ul li a:hover::after {
  margin-left: -11px;
}
.mens_vs .mens_vs_inner > div {
  width: 50%;
  background-color: #fff;
  padding: 40px 20px;
}

.mens_program_process .badge {
  width: 100%;
  padding: 15.5px 9px;
  line-height: 1.22;
  margin: 0 auto;
}
.mens_program_process .clinic_inner {
  padding: 40px 20px 60px;
}
.mens_program_process .clinic_inner ul {
  display: flex;
  justify-content: space-between;
}
.mens_program_process .clinic_inner ul li {
  width: calc(33.3333333333% - 40px);
  position: relative;
}
.mens_program_process .clinic_inner ul li .img_bx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.mens_program_process .clinic_inner ul li .txt_bx {
  word-break: keep-all;
}
.mens_program_process .clinic_inner ul li .badge {
  margin-bottom: 20px;
}
.mens_program_process .clinic_inner ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/pc/cnp/images/special-clinic/clinic_ptt_plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: -50px;
}
.mens_program_process .clinic_inner ul li:last-child::after {
  display: none;
}

/*holiday*/
.holiday_bx .clinic_inner {
  display: flex;
  align-items: center;
  padding: 40px;
}
.holiday_bx .clinic_inner .img_bx {
  width: 28%;
}
.holiday_bx .clinic_inner .txt_bx {
  width: 72%;
  text-align: left;
}
.holiday_bx .clinic_inner .txt_bx .badge {
  margin-bottom: 30px;
}
.holiday_bx .clinic_inner + .clinic_inner {
  margin-top: 30px;
}
.holiday_bx.reverse .clinic_inner {
  flex-direction: row-reverse;
}

/*adolescent*/
.adolescent_bx .clinic_flex_bx .txt_bx strong {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.adolescent_bx .clinic_flex_bx.type01 .img_bx {
  width: 37%;
}
.adolescent_bx .clinic_flex_bx.type01 .txt_bx {
  width: 63%;
}
.adolescent_bx .clinic_flex_bx.type01 .txt_bx strong {
  margin-bottom: 10px;
}
.adolescent_bx .clinic_flex_bx.type02 {
  width: 100%;
  justify-content: space-between;
}
.adolescent_bx .clinic_flex_bx.type02 li {
  width: 260px;
  position: relative;
}
.adolescent_bx .clinic_flex_bx.type02 li .txt_bx strong {
  margin-top: 10px;
}
.adolescent_bx .clinic_flex_bx.type02 li::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(/pc/cnp/images/special-clinic/plus_icon4.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% - 18px);
  right: -40px;
}
.adolescent_bx .clinic_flex_bx.type02 li:last-child::after {
  display: none;
}
.adolescent_bx .clinic_flex_bx.type03 {
  width: 100%;
}
.adolescent_bx .clinic_flex_bx.type03 li {
  width: 25%;
}

/*step_stone*/
.step_stone_process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 88px;
}
.step_stone_process > div:nth-child(1) {
  width: 50%;
}
.step_stone_process > div:nth-child(1) .badge {
  width: 100%;
}
.step_stone_process > div:nth-child(1) img {
  margin: 30px auto;
}
.step_stone_process > div:nth-child(3) {
  width: 270px;
}
.step_stone_process > div:nth-child(3) .txt_bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
.step_stone_process > div:nth-child(3) .txt_bx strong {
  font-size: 30px;
}
.step_stone_process > div:nth-child(3) .txt_bx p {
  font-weight: 700;
  font-size: 20px;
}

.step_stone_bx .clinic_flex_bx.type01 {
  gap: 20px;
}
.step_stone_bx .clinic_flex_bx.type01 li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #000;
  width: 110px;
  height: 110px;
  border: 6px solid #ffb400;
  border-radius: 50%;
}

.step_stone_cross {
  margin: 40px auto 50px;
}
.step_stone_cross .clinic_flex_bx li {
  width: 260px;
}
.step_stone_cross .clinic_flex_bx li .badge {
  width: 100%;
}
.step_stone_cross .clinic_flex_bx li:nth-child(2) {
  width: 56px;
  margin: 0 20px;
}

/*filler*/
.filler_bx .clinic_flex_bx.type01 {
  gap: 20px;
}
.filler_bx .clinic_flex_bx.type01 li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #000;
  width: 110px;
  height: 110px;
  border: 4px solid #ffb400;
  border-radius: 50%;
}

.filler_cross {
  margin: 40px auto 50px;
}
.filler_cross .clinic_flex_bx li {
  width: 260px;
}
.filler_cross .clinic_flex_bx li .badge {
  width: 100%;
}
.filler_cross .clinic_flex_bx li:nth-child(2) {
  width: 56px;
}
.filler_cross .clinic_flex_bx li:nth-child(2) img {
  transform: rotate(45deg);
}

.half_bx .clinic_inner {
  display: flex;
  align-items: center;
  gap: 86px;
}
.half_bx .clinic_inner .txt_bx strong {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 30px;
  color: #000;
}

.filler_process ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filler_process ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filler_process ul li .txt_bx strong {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #222;
}
.filler_process ul li::after {
  content: "";
  display: block;
  width: 12px;
  height: 20px;
  background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 30px;
}
.filler_process ul li:last-child::after {
  display: none;
}

.filler_list ul {
  display: flex;
  gap: 78px;
}
.filler_list ul li {
  width: 33.3333333333%;
}
.filler_list ul li .badge {
  width: 100%;
  margin: 0 auto 25px;
}

/*d-day*/
.d-day_plan {
  margin-bottom: 35px;
}
.d-day_plan ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.d-day_plan ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  width: 140px;
  height: 140px;
  border: 6px solid #ffb400;
  border-radius: 50%;
  position: relative;
}
.d-day_plan ul li::before {
  content: "";
  width: 21px;
  height: 20px;
  background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
  background-size: 21px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  transform: translateX(-50%);
  position: absolute;
  padding: 10px 20px;
  top: -20px;
  left: 50%;
}
.d-day_plan ul li:nth-child(even) {
  border-color: #dadada;
}/*# sourceMappingURL=clinic2.css.map */