/*
/pc/cnp/css/clinic2.css 
*/
.clinic_editor_wrap {
    * {
        box-sizing: border-box;
    }
}
.clinic_anchor {
    margin-top: 0 !important;
    padding-top: 65px;
}
.clinic_title_text {
    line-height: 1.25;
    & + .clinic_title_name {
        margin-bottom: 35px;
    }
}
.clinic_editor_sub_title {
    letter-spacing: -0.05em;
    .clinic_date {
        font-size: 80px;
        color: #898989;
        font-style: italic;
        margin-right: 50px;
    }
}
.clinic_comment {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    span {
        position: relative;
        &::after,&::before {
            content: '';
            width: 10px;
            height: 19px;
            background-size: 10px 19px;
            position: absolute;
            top: 0;
        }
        &::before {
            background-image: url(/pc/cnp/images/special-clinic/icon_lsquo.png);
            left: -20px;
        }
        &::after {
            background-image: url(/pc/cnp/images/special-clinic/icon_rsquo.png);
            right: -20px;
        }
    }
    &.yellow {
        span {
            &::before {
                background-image: url(/pc/cnp/images/special-clinic/icon_lsquo_yellow.png);
            }
            &::after {
                background-image: url(/pc/cnp/images/special-clinic/icon_rsquo_yellow.png);
            }
        }
    }
}
.clinic_underline {
    background-color: #ffff8d;
    line-height: 1.7;
}
.check_tit {
    display: block;
    font-weight: 300;
    font-size: 30px;
    color: #222;
    &::before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
        margin-bottom: 10px;
    }
}
.clinic_txt_white {
    color: #fff !important;
}
.clinic_txt_black {
    color: #000 !important;
}
.clinic_txt_black2 {
    color: #222 !important;
}
.clinic_font_bold {
    font-weight: 700 !important;
}
.clinic_txt_align_left {
    text-align: left !important;
}
.clinic_font_regular {
    font-weight: 400 !important;
}
.clinic_title_name span {letter-spacing: 0; font-weight: 500;line-height: 1.25;}
.transparent_circle {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 16px;
            color: #000;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: #ffb400;
            margin-right: -18px;
            position: relative;
            &:nth-child(even) {
                color: #fff;
                background-color: rgba(0,0,0,0.8);
                z-index: 1;
            }
            &:last-child {
                margin-right: 0;
            }
            &.light_gray {
                color: #000;
                background-color: #dadada;
            }
        }
    }
}
.clinic_gray_circle {
    &.type01 {
        >ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            >li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 255px;
                height: 255px;
                border: 3px solid #ccc;
                border-radius: 50%;
                .txt_bx {
                    strong {
                        font-weight: 500;
                        font-size: 22px;
                        color: #000;
                        position: relative;
                        &::after {
                            content: '';
                            display: block;
                            width: 20px;
                            height: 1px;
                            background-color: #f19500;
                            margin: 10px auto;
                        }
                    }
                }
            }
        }
        &.wedding {
            >ul {
                >li {
                    &:nth-child(1) {
                        background-image: url(/pc/cnp/images/special-clinic/clinic_wedding_1.png);
                    }
                    &:nth-child(2) {
                        background-image: url(/pc/cnp/images/special-clinic/clinic_wedding_2.png);
                    }
                    &:nth-child(3) {
                        background-image: url(/pc/cnp/images/special-clinic/clinic_wedding_3.png);
                    }
                }
            }
        }
    }
    &.type02 {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 16px;
                    width: 105px;
                    height: 105px;
                    border: 5px solid #dadada;
                    border-radius: 50%;
                    padding: 10px;
                    box-sizing: border-box;
                    position: relative;
                    transition: all 0.3s ease;
                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        background-image: url(/pc/cnp/images/special-clinic/btn_arrow.png);
                        background-repeat: no-repeat;
                        width: 22px;
                        height: 7px;
                        bottom: 14px;
                        left: 50%;
                        margin-left: -17px;
                        -ms-transition: 400ms all;
                        -webkit-transition: 400ms all;
                        transition: 400ms all;
                    }
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        border-color: #000;
                        &::after {
                            margin-left: -11px;
                        }
                    }
                }
            }
        }
    }
}
.clinic_y_circle {
    ul {
            display: flex;
            align-items: center;
            justify-content: center;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #222;
            width: 110px;
            height: 110px;
            border: 8px solid #ffb400;
            border-radius: 50%;
        }
    }
    &.with_plus {
        ul {
            gap: 40px;
            li {
                width: 140px;
                height: 140px;
                font-size: 16px;
                border-width: 4px;
                position: relative;
                &::after {
                    content: '';
                    width: 17px;
                    height: 17px;
                    background-image: url(/pc/cnp/images/special-clinic/plus_icon4.png);
                    background-size: 17px 17px;
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    right: -30px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}
.point_list {
    li {
        span {
            display: inline-block;
            font-weight: 350;//demiLight
            font-size: 16px;
            position: relative;
            margin-left: 10px;
            &::before {
                content: '';
                width: 2px;
                height: 2px;
                position: absolute;
                top: 12px;
                left: -10px;
            }
        }
    }
    &.gray {
        li {
            color: #444;
            span {
                &::before {
                    background-color: #444;
                }
            }
        }
    }
    &.yellow {
        li {
            color: #444;
            span {
                &::before {
                    background-color: #ffb400;
                }
            }
        }
    }
}
.clinic_process_list {
    display: flex;
    align-items: center;
    >li {
        background-color: #fff;
        position: relative;
        .badge {
            margin: 0 auto 20px;
            color: #fff;
        }
        &::after {
            content: '';
            width: 20px;
            height: 24px;
            background-image: url(/pc/cnp/images/special-clinic/arrow_right3.png);
            background-size: 20px 24px;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: -25px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &.division03 {
        gap: 30px;
        >li {
            width: calc(100% / 3);
            padding: 30px 40px;
            text-align: left;
            &:nth-child(1) {
                .badge {
                    background-color: #000;
                }
            }
            &:nth-child(2) {
                .badge {
                    background-color: #4e4e4e;
                }
            }
            &:nth-child(3) {
                .badge {
                    background-color: #7a7a7a;
                }
            }
        }
    }
}
.recycle_bx {
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            min-height: 160px;
            color: #000;
            &:nth-child(1) {
                background-color: #ffb400;
            }
            &:nth-child(2) {
                background-color: #fbd57b;
            }
            &:nth-child(3) {
                background-color: #fdbe28;
            }
            &:nth-child(4) {
                background-color: #fecc57;
            }
            strong {
                font-weight: 900;
                font-size: 18px;
            }
            p {
                font-weight: 500;
                font-size: 16px;
            }
        }
        &::after {
            content: '';
            width: 58px;
            height: 50px;
            background-image: url(/pc/cnp/images/special-clinic/icon_recycle.png);
            background-size: 58px 50px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}
.center_bx {max-width: 1100px; margin: 0 auto;}
.clinic_talk_bx {
    position: relative;
    .txt_bx {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41%;
        min-height: 175px;
        background-color: rgba(255,255,255,0.9);
        transform: translate(-50%, -50%);
        position: absolute;
        top:50%;
        left: 50%;
        p {
            font-size: 18px;
            color: #313131;
            span {
                display: block;
                position: relative;
                &::before, &::after {
                    content: '';
                    width: 19px;
                    height: 17px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    display: inline-block;
                }
                &::before {
                    background-image: url(/pc/cnp/images/special-clinic/icon_ldquo.png);
                    margin-right: 10px;
                    vertical-align: 4px;
                }
                &::after {
                    background-image: url(/pc/cnp/images/special-clinic/icon_rdquo.png);
                    margin-left: 10px;
                }
            }
        }
    }
}
.border_bx {border: 1px solid #ddd;}
.border_bx5 {border: 5px solid #ddd;}
.border_bx40 {
    border: 40px solid #f9f9f9; box-sizing: border-box;
    .clinic_inner {
        background-color: #fff;
    }
}
.padding_bx40 {
    padding: 40px;
}
.clinic_badge_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.clinic_border_black {
    gap: 70px;
    border: 3px solid #000;
    .clinic_inner {
        padding: 50px;
    }
}
.clinic_flex_bx {
    display: flex;
    &.align_center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
    &.d-day {
        &.type01 {
            justify-content: space-between;
            .txt_bx {
                &::before, &::after {
                    content: '';
                    width: 21px;
                    height: 19px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;
                    margin: 0 auto;
                }
                &::before {
                    background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
                    margin-bottom: 20px;
                }
                &::after {
                    background-image: url(/pc/cnp/images/special-clinic/d-day_icon_rdquo.png);
                    margin-top: 20px;
                }
            }
        }
        &.type02 {
            gap: 140px;
            li {
                .img_bx {
                    margin-bottom: 16px;
                }
                .txt_bx {
                    strong {
                        display: inline-block;
                        color: #222;
                        margin-bottom: 8px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
        }
        &.type03 {
            flex-wrap: wrap;
            justify-content: center;
            gap: 66px;
            li {
                width: calc(100% / 3 - 44px);
                position: relative;
                &::after {
                    content: '';
                    width: 12px;
                    height: 20px;
                    background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                    background-size: 12px 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 18px);
                    right: -40px;
                }
                .txt_bx {
                    font-size: 16px;
                    margin-top: 14px;
                    strong {
                        display: inline-block;
                        color: #222;
                    }
                }
                &:nth-child(3),&:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &.type04 {
            justify-content: center;
            gap: 78px;
        }
    }
    &.healing {
        &.type01 {
            flex-wrap: wrap;
            justify-content: center;
            gap: 66px;
            li {
                width: calc(100% / 3 - 44px);
                position: relative;
                &::after {
                    content: '';
                    width: 12px;
                    height: 20px;
                    background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                    background-size: 12px 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 18px);
                    right: -40px;
                }
                .txt_bx {
                    font-size: 16px;
                    margin-top: 14px;
                    strong {
                        display: inline-block;
                        color: #222;
                    }
                }
                &:nth-child(3),&:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    &.botox, &.wedding {
        &.type01 {
            justify-content: center;
            gap: 66px;
            li {
                width: calc(100% / 4 - 44px);
                position: relative;
                .img_bx {
                    position: relative;
                    &::after {
                        content: '';
                        width: 12px;
                        height: 20px;
                        background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                        background-size: 12px 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        top: 50%;
                        right: -40px;
                    }
                }
                .txt_bx {
                    font-size: 16px;
                    margin-top: 14px;
                    strong {
                        display: inline-block;
                        color: #222;
                    }
                    p {
                        line-height: 1.25;
                    }
                }
                &:last-child {
                   .img_bx {
                        &::after {
                            display: none;
                        }
                   }
                }
            }
        }
        &.type02 {
            align-items: center;
            >div {
                width: 50%;
            }
        }
    }
    &.row_reverse {
        flex-direction: row-reverse;
    }
}
.badge {
    font-size: 18px;
    font-weight: 700;
    border-radius: 35px;
    width: fit-content;
    padding: 9px 30px;
    box-sizing: border-box;
    &.y {
        color: #000;
        background-color: #ffb400;
    }
    &.b {
        color: #ffb400;
        background-color: #000;
    }
}
.bg_gray {
    background-color: #f9f9f9 !important;
}

.bg_white {
    background-color: #fff;
}

.title28 {
    font-size: 28px;
    font-weight: 500;
    color: #000;
}
.title18 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.clinic_title_desc {
    .clinic_title_desc_point {font-weight: 700;}
}
.clinic_title_sub {
    font-size: 28px;
    font-weight: 500;
    color: #000;
}

.clinic_subtitle {display: inline-block;font-weight: 700; font-size: 18px; color: #000;}

.clinic_title_bracket {
    font-weight: 500; font-size: 22px; color: #222; letter-spacing: -0.02em; width: fit-content; position: relative;margin: 40px auto;padding: 0 20px;
    &.xl {
        width: 884px;
        &::before {
            content: '';
            width: 11px;
            height: 112px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_left_xl.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::after {
            content: '';
            width: 11px;
            height: 112px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_right_xl.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    &.long {
        min-width: 820px;
        width: fit-content;
        line-height: 1.25;
        padding: 0 20px;
        &::before {
            content: '';
            width: 11px;
            height: 53px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_left_long.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::after {
            content: '';
            width: 11px;
            height: 53px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_right_long.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    &.short {
        &::before {
            content: '';
            width: 11px;
            height: 30px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_left.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;
        }
        &::after {
            content: '';
            width: 11px;
            height: 30px;
            background-image: url(/pc/cnp/images/special-clinic/bracket_right.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;
        }
    }
    &.ptt {
        width: 820px;
    }
}
.clinic_qna {
    text-align: left;
    word-break: keep-all;
    background-color: #f9f9f9;
    ul {
        li {
            margin-bottom: 8px;
            background-color: #fff;
            .qna_tit {
                display: flex;
                align-items: center;
                padding: 25px 30px;
                border-bottom: 1px solid #ddd;
                strong {
                    width: calc(100% - 38px);
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    color: #222;
                }
                &::before {
                    content: '';
                    width: 24px;
                    height: 28px;
                    background-image: url(/pc/cnp/images/special-clinic/icon_q.png);
                    background-size: 24px 28px;
                    display: block;
                    margin-right: 14px;
                }
            }
            .qna_desc {
                padding: 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.clinic_review {
    .review_tit {
        margin-bottom: 35px;
        strong {
            font-weight: 400;
            font-size: 28px;
            color: #222;
        }
        p {
            font-size: 16px;
            line-height: 28px;
        }
    }
    >ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        >li {
            width: calc(100% / 3 - 10px);
            .desc {
                font-size: 16px;
                line-height: 28px;
                background-color: #fff;
                padding: 25px 10px;
                p {
                    width: fit-content;
                    margin: 0 auto;
                    span {
                        display: inline-block; 
                        position: relative;
                        &::after,&::before {
                            content: '';
                            width: 10px;
                            height: 19px;
                            background-size: 10px 19px;
                            position: absolute;
                            top: 0;
                        }
                        &::before {
                            background-image: url(/pc/cnp/images/special-clinic/icon_lsquo.png);
                            left: -20px;
                        }
                        &::after {
                            background-image: url(/pc/cnp/images/special-clinic/icon_rsquo.png);
                            right: -20px;
                        }
                    }
                }
            }
            .con_bx {
                background-color: #fff;
                padding: 25px 10px;
                .recommend_list {
                    width: fit-content;
                    margin: 0 auto;
                    li {
                        margin-bottom: 8px;
                    }
                }
                & + .con_bx {
                    border-top: 1px solid #ddd;
                }
                p {
                    font-size: 16px;
                    line-height: 1.75;
                    strong {
                        font-weight: 500;
                        color: #000;
                    }
                }
            }
            .item {
                font-weight: 700;
                font-size: 18px;
                color: #222;
                background-color: #ffb400;
                padding: 12.5px 10px;
            }
        }
    }
    &.division02 {
        >ul {
            gap: 20px;
            >li {
                width: calc(100% / 2 - 10px);
            }
        }
    }
}
.clinic_list_spread {
    &.division04 {
        ul {
            display: flex;
            gap: 20px;
            li {
                width: calc(100% / 4);
                .img_bx {
                    margin-bottom: 16px;
                }
                .txt_bx {
                    p {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 1.75;
                    }
                }
            }
        }
    }
    &.division05 {
        ul {
            display: flex;
            gap: 10px;
            li {
                width: calc(100% / 5);
                .img_bx {
                    margin-bottom: 8px;
                }
                .txt_bx {
                    strong {
                        color: #000;
                    }
                    p {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 1.45;
                    }
                }
            }
        }
    }
}
.clinic_badge_list {
    width: 100%;
    max-width: 590px;
    ul {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        li {
            width: calc(100% / 4);
            font-size: 18px;
            font-weight: 700;
            border-radius: 35px;
            padding: 9px 30px;
            box-sizing: border-box;
            color: #000;
            background-color: #ffb400;
            &:first-child {
                color: #fff;
                background-color: #222;
                position: relative;
                margin-right: 10px;
                &::after {
                    content: '';
                    width: 13px;
                    height: 16px;
                    background-image: url(/pc/cnp/images/special-clinic/icon_triangle.png);
                    background-size: 13px 16px;
                    transform: translateY(-50%);
                    position: absolute;
                    top: 50%;
                    right: -10px;
                }
            }
        }
    }
}
.clinic_table table {width: 100%;color: #000}
.clinic_table table caption {font-size: 0; visibility: hidden;}

/*골드 ptt*/
.gold_ptt {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1025px;
        margin: 0 auto;
        li {
            display: flex;
            align-items: center;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 170px;
                height: 170px;
                font-weight: 700;
                font-size: 22px;
                line-height: 1.25;
                color: #fff;
                border-radius: 50%;
                padding: 20px;
            }
            &::after {
                content: '';
                display: block;
                width: 40px;
                height: 40px;
                background-image: url(/pc/cnp/images/special-clinic/clinic_ptt_plus.png);
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 35px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &:nth-child(odd) {
                p {background-color: #ffb400;}
            }
            &:nth-child(even) {
                p {background-color: #000;}
            }
        }
    }
    &.type02 {
        li {
            &::after {
                width: 44px;
                height: 44px;
                background-image: url(/pc/cnp/images/special-clinic/plus_icon3.png);
            }
        }
    }
    &.laser_bx {
        .badge {
            width: 642px;
            margin: 0 auto;
        }
    }
} 

.ptt_better {
    width: 100%;
    min-height: 335px; 
    border: 5px solid #ddd;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 60px 0;
    strong {
        font-weight: 300; 
        font-size: 34px; 
        letter-spacing: -0.05em; 
        color: #000;
        span {
            font-weight: 500; 
            font-size: 34px; 
            letter-spacing: -0.05em;
        }
    }
    ul { 
        margin-top: 50px; 
        display: flex; 
        justify-content: space-between; 
        max-width: 550px; 
        width: 100%;
        li {
            .img_bx {
                width: 50px; 
                height: 50px; 
                margin: 0 auto;
                margin-bottom: 40px; 
                display: flex; 
                align-items: center; 
                justify-content: center;
            }
            .txt_bx {
                p {
                    line-height: 1.2;
                }
            }
        }
    }
    &.mens {
        ul {
            max-width: 760px;
        }
    }
    &.filler {
        min-height: 260px;
        ul {
            li {
                display: flex;
                align-items: center;
                text-align: left;
                gap: 30px;
                .img_bx {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.healing {
        ul {
            max-width: 720px;
        }
    }
}
.bg_peach {
    background-color: #fff7ea;
}
.ptt_table thead tr th, .ptt_table tbody tr td {height: 50px; border-right: 1px solid #ddd; padding: 6px;}

.ptt_table thead tr th:last-child, .ptt_table tbody tr td:last-child {border-right: 0;} 

.ptt_table thead tr th { border-top: 2px solid #000; border-bottom: 1px solid #000; font-weight: 500;font-size: 18px; color: #000;}

.ptt_table tbody tr td {border-bottom: 1px solid #ddd; font-size: 16px;}
.ptt_table tbody tr td:first-child {font-size: 18px; font-weight: 500;}
.ptt_table {
    &.wedding {
        tbody {
            tr {
                td {
                    &:not(:first-child) {
                        color: #666;
                    }
                }
            }
        }
    }
}
.clininc_recommend {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 40px solid #f9f9f9; 
    padding: 20px;
    .list_bx {
        margin-left: 120px;
        ul {
            background-color: #fff;
            li {
                font-weight: 400; 
                font-size: 18px; 
                color: #222; 
                position: relative; 
                margin-bottom: 16px; 
                text-align: left;
                &::before {
                    content: ''; 
                    display: inline-block;
                    width: 30px; 
                    height: 30px; 
                    background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png); 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    vertical-align: -8px;
                    margin-right: 8px;
                }
            }
        }
    }
}

.recommend_bx {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    &.laser_bx {
        gap: 120px;
    }
    &.justify-left {
        justify-content: flex-start;
    }
}

.recommend_list {
    ul {
        background-color: #fff;
        li {
            width: calc(100% - 40px);
            font-weight: 400;
            font-size: 16px;
            color: #222;
            position: relative;
            margin-bottom: 16px;
            text-align: left;
            position: relative;
            margin-left: 40px;
            word-break: keep-all;
            &::before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
                background-repeat: no-repeat;
                background-size: 25px 25px;
                transform: translateY(-50%);
                position: absolute;
                top: 52%;
                left: -40px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }  

    &.type02 {
        li {
            margin-left: 30px;
            &::before {
                width: 18px;
                height: 17px;
                background-image: url(/pc/cnp/images/special-clinic/icon_check2.png);
                background-size: 18px 17px;
                left: -30px;
            }
        }
        &.center {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                margin-left: auto;
                margin-right: auto;
                &::before {
                    position: static;
                    transform: translateY(0);
                }
            }
        }
    }  
    &.w_50 {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px 0;
            li {
                width: calc(50% - 40px);
                margin-bottom: 0;
            }
        }
    } 
    
}

.clinic_notice_list {
    background-color: #fff;
    li {
        font-weight: 400; font-size: 18px; color: #222; position: relative; margin-bottom: 16px; text-align: left; margin-left: 40px; word-break: keep-all;
        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
            background-repeat: no-repeat;
            background-size: cover;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: -40px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*Drt*/
.drt_history {
    padding: 35px 30px;
    .list_bx {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        ul {
            display: flex; 
            justify-content: space-between; 
            margin-bottom: 40px;
            padding: 0 50px;
            li {
                .date {
                    font-weight: 500;
                    font-size: 18px;
                    color: #222;
                    margin-bottom: 10px;
                }
                .circle {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #ffb400;
                    border: 3px solid #fff;
                    margin: 0 auto;
                }
                .tit {
                    font-weight: 500;
                    font-size: 18px;
                    color: #222;
                    &::before {
                        content: '';
                        width: 0;
                        height: 18px;
                        border-right: 4px dotted #ffb400;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }     
        }
        &::after {
            content: '';
            width: 100%;
            height: 6px;
            background-color: #666;
            position: absolute;
            transform: translateY(-50%);
            border-radius: 25px;
            top: 40%;
            left: 0;
            z-index: -1;
        }
    }
    > p {
        font-size: 16px;
    }
}
.drtgraph {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
    .txt_bx {
        strong {
            display: inline-block;
            font-weight: 500;
            font-size: 28px;
            line-height: 1.25;
            margin-bottom: 40px;
        }
        p {
            color: #666;
        }
    }
}
.drt_list_wrap {
    padding: 40px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 20px auto 25px;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            height: 110px;
            border: 5px solid #ffb400;
            border-radius: 50%;
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
    }
    p {
        strong{
            color: #000;
        }
    }
}
.drt_notice {
    border-width: 2px;
    >div {
        display: flex;
        align-items: center;
        .img_bx {
            margin-bottom: 20px;
        }
        .txt_bx {
            width: 30%;
            line-height: 1.3;
        }
        .clinic_notice_list {
            width: 62%;
        }
    }
}

/*mens*/
.mens_recommend {
    .clinic_inner{
        display: flex;
        align-items: center;
        gap: 86px;
    }
}
.mens_vs {
    .mens_vs_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        gap: 20px;
        .badge {
            width: 200px;
            margin: 0 auto;
        }
        .img_bx {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .txt_bx {
            margin-bottom: 30px;
            .badge {
                margin-bottom: 25px;
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.75;
                color: #666;
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 16px;
                    width: 105px;
                    height: 105px;
                    border: 5px solid #dadada;
                    border-radius: 50%;
                    padding: 10px;
                    box-sizing: border-box;
                    position: relative;
                    transition: all 0.3s ease;
                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        background-image: url(/pc/cnp/images/special-clinic/btn_arrow.png);
                        background-repeat: no-repeat;
                        width: 22px;
                        height: 7px;
                        bottom: 14px;
                        left: 50%;
                        margin-left: -17px;
                        -ms-transition: 400ms all;
                        -webkit-transition: 400ms all;
                        transition: 400ms all;
                    }
                    &:hover {
                        background-color: #000;
                        color: #fff;
                        border-color: #000;
                        &::after {
                            margin-left: -11px;
                        }
                    }
                }
            }
        }
        > div {
            width: 50%;
            background-color: #fff;
            padding: 40px 20px;
        }
        .badge {
            width: 240px;
            margin: 0 auto;
        }
        &.type02 {
            align-items: unset;
            .img_bx {
                display: block;
                width: auto;
                height: auto;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            .txt_bx {
                margin-bottom: 0;
                .badge {
                    margin-bottom: 14px;
                }
            }
        }
    }
}
.mens_program_process {
    .badge {
        width: 100%;
        padding: 15.5px 9px;
        line-height: 1.22;
        margin: 0 auto;
    }
    .clinic_inner {
        padding: 40px 20px 60px;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                width: calc(100% / 3 - 40px);
                position: relative;
                .img_bx {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                .txt_bx {
                    word-break: keep-all;
                }
                .badge {
                    margin-bottom: 20px;
                }
                &::after {
                    content: ''; 
                    display: block; 
                    width: 40px; 
                    height: 40px;
                    background-image: url(/pc/cnp/images/special-clinic/clinic_ptt_plus.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    right: -50px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

/*holiday*/
.holiday_bx {
    .clinic_inner {
        display: flex;
        align-items: center;
        padding: 40px;
        .img_bx {
            width: 28%;
        }
        .txt_bx {
            width: 72%;
            text-align: left;
            .badge {
                margin-bottom: 30px;
            }
        }
        & + .clinic_inner {
            margin-top: 30px;
        }
    }
    &.reverse {
        .clinic_inner {
            flex-direction: row-reverse;
        }
    }
}

/*adolescent*/
.adolescent_bx {
    .clinic_flex_bx {
        .txt_bx {
            strong {
                display: inline-block;
                font-weight: 700;
                font-size: 18px;
                color: #000;
            }
        }
        &.type01 {
            .img_bx {
                width: 37%;
            }
            .txt_bx {
                width: 63%;
                strong {
                    margin-bottom: 10px;
                }
            }
        }
        &.type02 {
            width: 100%;
            justify-content: space-between;
            li {
                width: 260px;
                position: relative;
                .txt_bx {
                    strong {
                        margin-top: 10px;
                    }
                }
                &::after {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-image: url(/pc/cnp/images/special-clinic/plus_icon4.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 18px);
                    right: -40px;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &.type03 {
            width: 100%;
            li {
                width: calc(100% / 4);
            }
        }
    }
}

/*step_stone*/
.step_stone_process {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 88px;
    >div{
        &:nth-child(1) {
            width: 50%;
            .badge {
                width: 100%;
            }
            img {
                margin: 30px auto;
            }
        }
        &:nth-child(3) {
            width: 270px;
            .txt_bx {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 270px;
                height: 270px;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                strong {
                    font-size: 30px;
                }
                p {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}
.step_stone_bx {
    .clinic_flex_bx {
        &.type01 {
            gap: 20px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #000;
                width: 110px;
                height: 110px;
                border: 6px solid #ffb400;
                border-radius: 50%;
            }
        }
    }
}
.step_stone_cross {
    margin: 40px auto 50px;
    .clinic_flex_bx {
        li {
            width: 260px;
            .badge {
                width: 100%;
            }
            &:nth-child(2) {
                width: 56px;
                margin: 0 20px;
            }
        }
    }
    &.division03 {
        .clinic_flex_bx {
            li {
                width: 200px;
                &:nth-child(even) {
                    width: auto;
                    margin: 0 20px;
                }
            }
        }
    }
}

/*filler*/

.filler_bx {
    .clinic_flex_bx {
        &.type01 {
            
            gap: 20px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #000;
                width: 110px;
                height: 110px;
                border: 4px solid #ffb400;
                border-radius: 50%;
            }
        }
    }
}
.filler_cross {
    margin: 40px auto 50px;
    .clinic_flex_bx {
        li {
            width: 260px;
            .badge {
                width: 100%;
            }
            &:nth-child(2) {
                width: 56px;
                img {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.half_bx {
    .clinic_inner{
        display: flex;
        align-items: center;
        gap: 86px;
        .txt_bx {
            strong {
                display: inline-block;
                font-size: 18px;
                margin-bottom: 30px;
                color: #000;
            }
        }
    }
}
.filler_process {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            .txt_bx {
                strong {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 18px;
                    color: #222;
                }
            }
            &::after {
                content: '';
                display: block;
                width: 12px;
                height: 20px;
                background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin: 0 30px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}
.filler_list {
    ul {
        display: flex;
        gap: 78px;
        li {
            width: calc(100% / 3);
            .badge {
                width: 100%;
                margin: 0 auto 25px;
            }
        }
    }
}

/*d-day*/
.d-day_plan {
    margin-bottom: 35px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            color: #222;
            width: 140px;
            height: 140px;
            border: 6px solid #ffb400;
            border-radius: 50%;
            position: relative;
            &::before {
                content: '';
                width: 21px;
                height: 20px;
                background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
                background-size: 21px 20px;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #fff;
                transform: translateX(-50%);
                position: absolute;
                padding: 10px 20px;
                top: -20px;
                left: 50%;
            }
            &:nth-child(even) {
                border-color: #dadada;
            }
        }
    }
}

.clinic_versus_wrap {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 40px;
    .versus01,.versus02 {
        width: 50%;
        background-color: #fff;
        .badge {
            width: 240px;
            margin: 0 auto;
            &.b {
                color: #fff;
            }
        }
    }
    .badge_wrap {
        width: 100%;
        background-color: #f9f9f9;
        padding-bottom: 30px;
    }
    .con_bx {
        padding: 40px;
        &.type01 {
            min-height: 610px;
            position: relative;
            padding-bottom: 80px;
            .con_tit {
                font-size: 28px;
                color: #222;
                margin-bottom: 40px;
            }
            .img_bx {
                margin-bottom: 35px;
            }
            .txt_bx {
                margin-bottom: 25px;
                .tit {
                    display: inline-block;
                    font-size: 18px;
                    color: #222;
                    margin-bottom: 16px;
                }
                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 1.7;
                }
            }
            .link_btn {
                display: inline-block;
                text-align: center;
                height: 40px;
                line-height: 40px;
                color: #222;
                font-weight: 400;
                border: 1px solid #222;
                background: #fff;
                cursor: pointer;
                min-width: 200px;
                padding: 0 20px;
                transform: translateX(-50%);
                position: absolute;
                bottom: 40px;
                left: 50%;
                &:hover {
                    border-color: #996005;
                    color: #996005;
                }
            }
        }
        &.type02 {
            background-color: #f9f9f9;
            .border {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 3px solid;   
                background-color: #fff;
                min-height: 165px;
                line-height: 1.7;
                &.y {
                    border-color: #ffb400;
                }
                &.g {
                    border-color: #888888;
                }
            }
        }
    }
    .arrow_bx {
        background-color: #fff;
        border-top: 40px solid #f9f9f9;
        padding: 10px 0;
    }
    
    .clinic_versus_inner {
        display: flex;
        gap: 18px;
    }
    .clinic_comment {
        color: #666;
        font-weight: 300;
    }
    .clinic_choice {
        background-repeat: no-repeat;
        min-height: 364px;
        position: relative;
        .txt_bx {
            font-size: 16px;
            transform: translateY(-50%);
            position: absolute;
            top: 46%;
        }
        &.show_on {
            background-image: url(/pc/cnp/images/special-clinic/clinic_obvious_1.png);
            background-position: 20px 100%;
            .txt_bx {
                right: 16%;
            }
        }
        &.show_off {
            background-image: url(/pc/cnp/images/special-clinic/clinic_obvious_2.png);
            background-position: calc(100% - 20px) 100%;
            .txt_bx {
                left: 5%;
            }
        }
    }
    
}

.clinic_tab_header {
    margin-bottom: 30px;
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}
.clinic_tab_con {
    .clinic_editor_cont_title {
        margin-bottom: 30px;
        .clinic_title_sub {
            margin-bottom: 20px;
        }
    }
}

.reinforce_list {
    ul {
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .img_bx {
                margin-right: 24px;
                img {
                    width: 60px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}