/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-btn_search {
  background-image: url(sp_all.png);
  background-position: -56px -45px;
  width: 19px;
  height: 20px;
}
.icon-seach_con_i {
  background-image: url(sp_all.png);
  background-position: 0px 0px;
  width: 38px;
  height: 41px;
}
.icon-sp_tp_01 {
  background-image: url(sp_all.png);
  background-position: -42px 0px;
  width: 24px;
  height: 24px;
}
.icon-sp_tp_02 {
  background-image: url(sp_all.png);
  background-position: -70px 0px;
  width: 24px;
  height: 24px;
}
.icon-sp_tp_03 {
  background-image: url(sp_all.png);
  background-position: 0px -45px;
  width: 24px;
  height: 24px;
}
.icon-sp_tp_04 {
  background-image: url(sp_all.png);
  background-position: -28px -45px;
  width: 24px;
  height: 24px;
}
