/*mobile clinic css banghg*/
/*
/m/cnp/css/clinic.css 
*/
.clinic_result_bx .result_list_01 .img_bx img{
    /* 2017-12-22 */
    -o-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    }
    #clinic_des { text-align: center; }
    
    .f9_bg { padding: 20px; background-color: #f9f9f9; }
    
    .tabwrap .tab li { box-sizing: border-box; float: left; border: 1px solid #222; border-left: 0; }
    
    .tabwrap .tab li:first-child { border-left: 1px solid #222; }
    
    .tabwrap .tab li a { display: block; height: 40px; line-height: 40px; color: #222; background-color: #fff; text-align: center; font-size: 14px; }
    
    .tabwrap .tab li a.on { background-color: #222; color: #fff; }
    
    .tabwrap .tab.tab2 li { width: 50%; }
    
    .tabwrap .tab.tab3 li { width: 33.33%; }
    
    .tabwrap .tab.tab4 li { width: 25%; }
    
    .cir_btn { position: relative; text-align: center; display: inline-block; padding: 0 10px; }
    
    .cir_btn_wrap { background-color: #fff; max-width: 860px; display: block; margin: 0 auto; padding-bottom: 20px; }
    
    .cir_btn li { float: left; width: 50%; padding: 10px 5px; text-align: center; box-sizing: border-box; }
    
    .cir_btn i.br { display: block; }
    
    .cir_btn a { position: relative; box-sizing: border-box; line-height: 1.3; font-weight: 500; width: 90px; height: 90px; background-color: #fff; border: 3px solid #dadada; -webkit-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; padding: 10px; color: #222; font-size: 14px; margin: 0 auto; display: table; }
    
    .cir_btn a p { vertical-align: middle; display: table-cell; }
    
    .cir_btn a:after { content: ''; position: absolute; display: block; background-image: url(/static/clinic/mo/cir_btn.png); background-repeat: no-repeat; width: 25px; height: 7px; bottom: 14px; left: 50%; margin-left: -12px; -ms-transition: 400ms all; -webkit-transition: 400ms all; transition: 400ms all; background-size: 25px 7px; }
    
    .cir_btn.btn_3 li { width: 33.33%; }
    
    @media all and (max-width: 380px) { .cir_btn.btn_3 { padding: 0; }
      .cir_btn.btn_3 a { width: 80px; height: 80px; } }
    
    .clinic_s_9 .vs, .clinic_s_10 .vs { background-color: #f9f9f9; padding: 20px; clear: both; overflow: hidden; }
    
    .clinic_s_9 .vs > div, .clinic_s_10 .vs > div { position: relative; text-align: center; }
    
    .clinic_s_9 .vs > div .btn_wrap { padding: 20px 0; background-color: #fff; max-width:860px; margin:0 auto;}
    
    .clinic_s_9 .vs > div a { width: inherit; padding: 0 20px; }
    
    .clinic_s_10 .vs_2 { margin-top: 20px; }
    
    .clinic_s_12 #map area { z-index: 10; position: relative; }
    
    .clinic_s_12 .cir_btn_wrap { text-align: center; }
    
    .clinic_s_12 .cir_btn { display: inline-block; }
    
    @media all and (max-width: 380px) { .clinic_s_12 .cir_btn { padding: 0; }
      .clinic_s_12 .cir_btn a { width: 80px; height: 80px; } }
    
    .clinic_l_3 .wrap { padding: 20px 0; }
    
    .clinic_l_3 .wrap .item { text-align: center; float: right; width: 50%; box-sizing: border-box; padding-left: 20px; }
    
    .clinic_l_3 .wrap .item:first-child { padding-left: 0; padding-right: 20px; float: left; }
    
    .clinic_l_3 .wrap .item:first-child .img { position: relative; }
    
    .clinic_l_3 .wrap .item:first-child .img:after { width: 20px; height: 20px; top: 50%; position: absolute; margin-top: -10px; right: -30px; background-size: 20px; background-image: url(/static/clinic/mo/plus_i.jpg); background-repeat: no-repeat; content: ''; display: block; }
    
    .clinic_l_3 .wrap .item p { margin: 20px 0; font-size: 15px; }
    
    .clinic_l_3 .wrap .item a.btn-type-02 { width: inherit; }
    
    
    /* 클리닉 에디터 뷰 페이지 */
    .clinic_editor_wrap{
        text-align: center;
    }
    .clinic_title_text{
        font-size: 14px;
        color: #cb7f05;
        padding: 6px 0;
        position: relative;
        margin: 0 auto;
        width: fit-content;
        letter-spacing: 6px;
        text-align: center;
        font-weight: 500;
    }
    .clinic_title_text::after{
        content: "";
        position: absolute;
        top: 0;
        left: 48.5%;
        transform: translateX(-50%);
        width: 98%;
        height: 1px;
        background: #cb7f05;
    }
    .clinic_title_text::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 48.5%;
        transform: translateX(-50%);
        width: 98%;
        height: 1px;
        background: #cb7f05;
    }
    .clinic_title_name{
        font-size: 24px;
        color: #333;
        letter-spacing: 13px;
        font-weight: 700;
        margin-top: 15px;
    }
    .clinic_title_line{
        width: 20px;
        height: 2px;
        background: #ffb400;
        margin: 12px auto;
    }
    .clinic_title_desc{
        font-size: 13px;
        font-weight: 300;
        color: #666;
        line-height: 1.4;
        letter-spacing: 0;
    }
    .clinic_title_desc_point{
        color: #996005;
        font-weight: 500;
    }
    .clinic_editor_cont{
        margin-top: 35px;
    }
    .clinic_editor_cont_title{
        margin-bottom: 15px;
    }
    .clinic_editor_cont_line{
        display: block;
        margin: 0 auto;
    }
    .clinic_editor_sub_title{
        font-size: 18px;
        font-weight: 500;
        color: #000;
        text-align: center;
        position: relative;
        line-height: 1.4;
    }
    .clinic_editor_img{
        margin: 12px 0;
        background-color: #f9f9f9;
        padding: 15px 10px; 
    }
    .clinic_editor_img img{
        display: block;
        margin: 0 auto;
    }
    .sequence_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sequence_wrap_num{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 28px;
        background: #ffb400;
        border-radius: 25px;
        margin: 0 auto;
        font-size: 14px;
        color: #000;
        font-weight: 500;
    }
    .sequence_wrap_desc{
        margin-top: 10px;
        font-size: 13px;
        color: #666;
        text-align: center;
        line-height: 1.4;
        font-weight: 300;
    }
    .sequence_wrap .clinic_arrow{
        display: block;
        margin: 0 auto;
        width: 16px;
    }
    .clinic_point_sub{
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        color: #000;
    }
    .clinic_point_sub .point{
        color: #996005;
    }
    .sequence_wrap_2{
        padding: 15px 25px;
        background-color: #f9f9f9;
        margin-top: 20px;
    }
    .sequence_wrap_2 .box{
        width: 100%;
        padding: 15px 10px;
        background-color: #fff;
    }
    .pdt_seq{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 13px;
        row-gap: 20px;
    }
    .pdt_arrow{
        margin-bottom: 50px;
        width: 7px;
    }
    .pdt_seq .box{
        text-align: center;
        line-height: 1.3;
        width: 45%;
    }
    .pdt_seq .box img{}
    .pdt_seq .box .step{
        color: #222;
        font-size: 14px;
        font-weight: 600;
        margin-top: 7px;
    }
    .pdt_seq .box .desc{
        color: #666;
        font-size: 13px;
        font-weight: 300;
    }
    .pdt_plus{
        padding: 20px 0;
    }
    .pdt_plus h5{
        font-size: 24px;
        color: #000;
        font-weight: 300;
        text-align: center;
    }
    .pdt_plus h5 p{
        display: inline-block;
    }
    .pdt_plus .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 15px;
        row-gap: 15px;
    }
    .pdt_plus .wrap .item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 12px;
        width: 100%;
        column-gap: 12px;
    }
    .pdt_plus .wrap .item img{}
    .pdt_plus .wrap .item p{
        font-size: 14px;
        color: #222;
        line-height: 1.3;
        width: 80%;
        text-align: left;
    }
    .pdt_teraphy{
        border: 15px solid #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        row-gap: 15px;
    }
    .pdt_teraphy .box .sequence_wrap_num{
        margin-top: 10px;
        border-radius: 50px;
    }
    .pdt_plus_icon{
        margin-top: 7px;
    }
    
    /* 고주파 리프팅 */
    .circle_line_list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
    }
    .circle_line_list .circle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border: 3px solid #ffb400;
        border-radius: 50%;
    }
    .circle_line_list .circle h5{
        font-size: 14px;
        color: #222;
        font-weight: 600;
        text-align: center;
    }
    .high_info_wrap .box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px;
        padding-top: 20px;
    }
    .high_info_wrap .box .txt_bx{
        text-align: center;
    }
    .high_info_wrap .box .txt_bx .sub-tit{
        font-size: 14px;
        color: #222;
        font-weight: 600;
    }
    .high_info_wrap .box .txt_bx .title{
        font-size: 18px;
        line-height: 1.4;
        color: #000;
        font-weight: 500;
    }
    .high_info_wrap .box .txt_bx .title span{
        color: #996005;
    }
    .high_info_wrap .box .txt_bx .desc{
        font-size: 14px;
        color: #666;
        font-weight: 300;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .high_why_wrap{
        margin: 15px 0;
    }
    .high_why_wrap .wrap{
        display: flex;
        justify-content: center;
        column-gap: 20px;
        padding: 12px 0;
    }
    .high_why_wrap .wrap .list{
        width: 25%;
    }
    .high_why_wrap .wrap .list img{
        display: block;
        margin: 0 auto;
    }
    .high_why_wrap .wrap .list p{
        font-size: 13px;
        font-weight: 600;
        color: #000;
        text-align: center;
        margin-top: 10px;
        line-height: 1.2;
    }
    .high_equip{
        width: 100%;
        height: auto;
        padding: 30px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .high_equip .txt_bx{
        width: 50%;
        padding: 20px 0;
        background: rgba(255,255,255,0.9);
    }
    .high_equip .txt_bx p{
        color: #313131;
        font-size: 12px;
        line-height: 1.5;
    }
    
    /* 기미 레이저 */
    .clinic_side_title{
        position: relative;
        font-size: 15px;
        color: #222;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 10px;
    }
    .nonmon_box{
        padding: 15px;
        background-color: #f9f9f9;
        text-align: center;
        margin: 20px 0;
    }
    .nonmon_box h6{
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
    .nonmon_box p{
        font-size: 14px;
        font-weight: 300;
        color: #666;
        padding: 10px 0;
    }
    .nonmon_box .description{
        font-size: 12px;
        font-weight: 300;
        color: #3d3d3d;
        text-align: center;
        padding: 0;
        line-height: 1.5;
    }
    .nonmon_box img{
        margin-top: 15px;
    }
    .border_box_wrap{
        border: 15px solid #f9f9f9;
    }
    .border_box_wrap .ck_list{
        background: #fff;
        padding: 15px;
    }
    .border_box_wrap .list{
        display: flex;
        align-items: flex-start;
        column-gap: 10px;
        margin-bottom: 15px;
    }
    .border_box_wrap .list:last-child{
        margin-bottom: 0;
    }
    .border_box_wrap .list img{
        margin-top: 5px;
    }
    .border_box_wrap .list p{
        font-size: 14px;
        color: #222;
        text-align: left;
    }
    .professinal_box_wrap{
        background: #f9f9f9;
        padding-top: 15px;
    }
    .professinal_box_wrap > p{
        font-size: 14px;
        color: #222;
    }
    
    /* 색소 */
    .img_desc{
        max-width: 300px;
        margin: 0 auto;
        text-align: left;
        padding: 10px 0;
    }
    .img_desc p{
        margin-bottom: 5px;
    }
    .img_desc p span{
        color: #000;
    }
    .high_why_wrap .wrap2{
        flex-direction: column;
    }
    .high_why_wrap .wrap2 .list{
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 10px;
    }
    .high_why_wrap .wrap2 .list p{
        text-align: left;
        margin-top: 0;
    }
    .high_why_wrap .wrap2 .list .clinic_title_desc{
        margin-top: 5px;
    }
    .high_why_wrap .wrap2 .list img{
        width: 70px;
        margin: 0;
    }
    