.clinic_editor_wrap * {box-sizing: border-box; word-break: keep-all;}
.clinic_title_name {line-height: 1.25;}
.clinic_title_name span {letter-spacing: 0; font-size: 20px; font-weight: 500;}

.center_bx {max-width: 1100px; margin: 0 auto;}
.border_bx {border: 1px solid #ddd;}
.border_bx5 {border: 5px solid #ddd;}
.border_bx40 {
    border: 20px solid #f9f9f9;
    .clinic_inner {
        background-color: #fff;
    }
}
.padding_bx40 {
    padding: 20px;
}
.clinic_editor_sub_title {
    .clinic_date {
        font-size: 36px;
        color: #898989;
        font-style: italic;
        margin-right: 20px;
    }
}
.clinic_talk_bx {
    position: relative;
    .txt_bx {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: rgba(255,255,255,0.9);
        transform: translate(-50%, -50%);
        position: absolute;
        top:50%;
        left: 50%;
        padding: 10px 4px;
        p {
            font-size: 11px;
            color: #313131;
            span {
                display: block;
                position: relative;
                &::before, &::after {
                    content: '';
                    width: 9px;
                    height: 8px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    display: inline-block;
                }
                &::before {
                    background-image: url(/pc/cnp/images/special-clinic/icon_ldquo.png);
                    margin-right: 4px;
                    vertical-align: 4px;
                }
                &::after {
                    background-image: url(/pc/cnp/images/special-clinic/icon_rdquo.png);
                    margin-left: 4px;
                }
            }
        }
    }
}
.clinic_txt_white {
    color: #fff !important;
}
.clinic_font_bold {
    font-weight: 700 !important;
}
.transparent_circle {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 12px;
            color: #000;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #ffb400;
            margin-right: -18px;
            position: relative;
            &:nth-child(even) {
                color: #fff;
                background-color: rgba(0,0,0,0.8);
                z-index: 1;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.clinic_y_circle {
    ul {
            display: flex;
            align-items: center;
            justify-content: center;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 16px;
            color: #222;
            width: 90px;
            height: 90px;
            border: 6px solid #ffb400;
            border-radius: 50%;
        }
    }
}
.clinic_badge_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon_plus {
        width: 16px;
        height: 16px;
    }
}
.clinic_border_black {
    gap: 70px;
    border: 3px solid #000;
    .clinic_inner {
        padding: 20px;
        .img_bx {
            width: 40px;
            margin: 0 auto;
        }
        strong {
            display: inline-block;
            margin: 8px auto 16px;
        }
    }
}
.clinic_flex_bx {
    display: flex;
    flex-direction: column;
    &.align_center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
    &.d-day {
        flex-direction: column;
        &.type01 {
            justify-content: space-between;
            .img_bx {
                margin-bottom: 20px;
            }
            .txt_bx {
                &::before, &::after {
                    content: '';
                    width: 16px;
                    height: 14px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;
                    margin: 0 auto;
                }
                &::before {
                    background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
                    margin-bottom: 10px;
                }
                &::after {
                    background-image: url(/pc/cnp/images/special-clinic/d-day_icon_rdquo.png);
                    margin-top: 10px;
                }
            }
        }
        &.type02 {
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                .img_bx {
                    width: 60px;
                    margin-bottom: 16px;
                }
                .txt_bx {
                    width: calc(100% - 70px);
                    text-align: left;
                    strong {
                        display: inline-block;
                        color: #222;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        &.type03 {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            li {
                width: calc(100% / 2 - 15px);
                position: relative;
                &::after {
                    content: '';
                    width: 6px;
                    height: 10px;
                    background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                    background-size: 6px 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 18px);
                    right: -18px;
                }
                .txt_bx {
                    font-size: 16px;
                    strong {
                        display: inline-block;
                        font-size: 14px;
                        color: #222;
                    }
                    p {
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
                &:nth-child(even) {
                    &::after {
                        display: none;
                    }
                }
                &:last-child {
                    &::after {
                        left: -18px;
                    }
                }
            }
        }
        &.type04 {
            flex-direction: row;
            justify-content: center;
            li {
                &:not(:nth-child(2)) {
                    width: calc(100% / 2 - 40px);
                }
                &:nth-child(2) {
                    margin: 0 20px;
                    width: 20px;
                }
            }
        }
    }
    &.healing {
        &.type01 {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            li {
                width: calc(100% / 2 - 15px);
                position: relative;
                &::after {
                    content: '';
                    width: 6px;
                    height: 10px;
                    background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                    background-size: 6px 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 18px);
                    right: -18px;
                }
                .txt_bx {
                    font-size: 16px;
                    strong {
                        display: inline-block;
                        font-size: 14px;
                        color: #222;
                    }
                    p {
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
                &:nth-child(even) {
                    &::after {
                        display: none;
                    }
                }
                &:last-child {
                    &::after {
                        left: -18px;
                    }
                }
            }
        }
    }
}
.badge {
    font-size: 16px;
    font-weight: 700;
    border-radius: 35px;
    padding: 6px;
    width: fit-content;
    padding: 8px 20px;
    &.y {
        color: #000;
        background-color: #ffb400;
    }
    &.b {
        color: #fff;
        background-color: #000;
    }
}
.bg_gray {
    background-color: #f9f9f9;
}

.title28 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    word-break: keep-all;
}

.clinic_title_desc {
    word-break: keep-all;
    .clinic_title_desc_point {font-weight: 700;}
}
.clinic_title_sub {
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
.clinic_subtitle {display: inline-block;font-weight: 700; font-size: 18px; color: #000;}

.clinic_title_bracket {
    font-weight: 500; font-size: 16px; color: #222; letter-spacing: -0.02em; width: fit-content; position: relative; margin: 20px auto; word-break: keep-all;
    &.long {
        max-width: 900px;
        width: 100%;
        margin: 20px auto;
    }
}
.clinic_qna {
    text-align: left;
    word-break: keep-all;
    background-color: #fff;
    ul {
        li {
            margin-bottom: 8px;
            background-color: #f9f9f9;
            .qna_tit {
                display: flex;
                align-items: center;
                padding: 15px 20px;
                border-bottom: 1px solid #ddd;
                strong {
                    width: calc(100% - 38px);
                    display: block;
                    font-weight: 500;
                    font-size: 16px;
                    color: #222;
                }
                &::before {
                    content: '';
                    width: 18px;
                    height: 22px;
                    background-image: url(/pc/cnp/images/special-clinic/icon_q.png);
                    background-size: 18px 22px;
                    display: block;
                    margin-right: 8px;
                }
            }
            .qna_desc {
                padding: 10px 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.clinic_review {
    .review_tit {
        margin-bottom: 35px;
        strong {
            font-weight: 700;
            font-size: 18px;
            color: #222;
        }
        p {
            font-size: 16px;
            margin-top: 16px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        li {
            width: 100%;
            .desc {
                font-size: 16px;
                line-height: 28px;
                background-color: #fff;
                padding: 25px 10px;
                p {
                    width: fit-content;
                    margin: 0 auto;
                    span {
                        display: inline-block; 
                        position: relative;
                        &::after,&::before {
                            content: '';
                            width: 10px;
                            height: 19px;
                            background-size: 10px 19px;
                            position: absolute;
                            top: 0;
                        }
                        &::before {
                            background-image: url(/pc/cnp/images/special-clinic/icon_lsquo.png);
                            left: -20px;
                        }
                        &::after {
                            background-image: url(/pc/cnp/images/special-clinic/icon_rsquo.png);
                            right: -20px;
                        }
                    }
                }
            }
            .item {
                font-weight: 700;
                font-size: 18px;
                color: #222;
                background-color: #ffb400;
                padding: 12.5px 10px;
            }
        }
    }
}
.clinic_table table {width: 100%;color: #000}
.clinic_table table caption {font-size: 0; visibility: hidden;}

/*골드 ptt*/
.gold_ptt {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1025px;
        margin: 0 auto;
        li {
            display: flex; 
            align-items: center;
            p {
                display: flex; 
                align-items: center; 
                justify-content: center;
                width: 78px; 
                height: 78px; 
                font-weight: 700; 
                font-size: 12px; 
                line-height: 1.4;
                color: #fff;
                border-radius: 50%; 
                padding: 4px;
            }
            &::after {
                content: ''; 
                display: block; 
                width: 40px; 
                height: 40px; 
                background-image: url(/pc/cnp/images/special-clinic/clinic_ptt_plus.png); 
                background-repeat: no-repeat; 
                background-size: cover;
                margin: 0 6px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            &:nth-child(odd) p {background-color: #ffb400;}
            &:nth-child(even) p {background-color: #000;}
        } 
    }
    
    &.type02 {
        li {
            &::after {
                width: 16px;
                height: 16px;
                background-image: url(/pc/cnp/images/special-clinic/plus_icon3.png);
            }
        }
    }
    &.laser_bx {
        .badge {
            width: 90%;
            margin: 0 auto;
        }
    }
} 

.ptt_table.beige {background-color: #fff7ea;}

.ptt_better {
    width: 100%; 
    border: 5px solid #ddd;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 30px;
    strong {
        font-weight: 300; 
        font-size: 24px; 
        letter-spacing: -0.05em; 
        color: #000;
        span {
            font-weight: 500; 
            font-size: 24px; 
            letter-spacing: -0.05em;
        }
    }
    ul { 
        margin-top: 20px; 
        display: flex; 
        justify-content: space-between; 
        max-width: 550px; 
        width: 100%; 
        flex-wrap: wrap; 
        gap: 20px;
        li {
            width: calc(50% - 15px);
            .img_bx {
                width: 50px; 
                height: 50px; 
                margin: 0 auto;
                margin-bottom: 10px; 
                display: flex;
                align-items: center; 
                justify-content: center;
            }
            .txt_bx {
                p { 
                    font-size: 12px;
                    line-height:1.25;
                }
            }
        }
    }
    &.mens {
        padding: 30px 8px;
        ul {
            gap: 40px 10px;
            li {
                width: calc(100% / 3 - 20px);
                .txt_bx {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &.holiday {
        ul {
            justify-content: center;
            li {width: calc(100% / 4 - 15px);}
        }
    }
    &.filler {
        ul {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;
            li {
                width: auto;
                display: flex;
                align-items: center;
                text-align: left;
                gap: 10px;
                .img_bx {
                    margin: unset;
                }
            }
        }
    }
    &.d-day {
        padding-left: 10px;
        padding-right: 10px;
        ul {
            flex-wrap: nowrap;
            gap: 0;
        }
    }
    &.healing {
        ul {
            gap: 20px 10px;
            li {
                width: calc(100% / 3 - 7px);
            }
        }
    }
}

.ptt_table tbody tr td {height: 30px; border-right: 1px solid #ddd;}

.ptt_table thead tr th:last-child, .ptt_table tbody tr td:last-child {border-right: 0;} 

.ptt_table thead tr th {height: 40px; border-top: 2px solid #000; border-bottom: 1px solid #000; font-weight: 600;font-size: 14px; color: #000;}

.ptt_table tbody tr td {border-bottom: 1px solid #ddd; font-size: 13px;}
.ptt_table tbody tr td:first-child {font-size: 14px; font-weight: 500;}

.clininc_recommend {
    border: 4px solid #000;
    padding: 20px;
    .img_bx {
        img{ width: 50%;}
    }
    .list_bx {
        margin-top: 20px;
        ul {
            background-color: #fff;
            li {
                font-weight: 400;
                font-size: 16px;
                color: #222;
                position: relative;
                margin-bottom: 16px;
                text-align: left;
                position: relative;
                margin-left: 40px;
                word-break: keep-all;
                padding-left: 0;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png); 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    transform: translateY(-50%); 
                    position: absolute; 
                    top: 52%; 
                    left: -40px;
                }
            }
        }
    }
}

.recommend_bx {
    padding: 20px;
    &.justify-left {
        justify-content: flex-start;
    }
    &.laser_bx {
        padding: 20px 10px;
    }
}


.recommend_list {
    ul {
        background-color: #fff;
        li {
            font-weight: 400;
            font-size: 16px;
            color: #222;
            position: relative;
            margin-bottom: 16px;
            text-align: left;
            position: relative;
            padding-left: 40px;
            word-break: keep-all;
            &::before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
                background-repeat: no-repeat;
                background-size: cover;
                transform: translateY(-50%);
                position: absolute;
                top: 52%;
                left: 0px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }  
    &.type02 {
        ul {
            li {
                padding-left: 30px;
                font-weight: 500;
                color: #666;
                &::before {
                    width: 18px;
                    height: 18px;
                    background-image: url(/pc/cnp/images/special-clinic/icon_check2.png);
                    transform: translateY(0);
                    top: 4px;
                    left: 0px;
                }
            }
            
        }
        &.center {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                padding-left: 0;
                &::before {
                    position: static;
                    transform: translateY(0);
                }
            }
        }
    } 
    &.w_50 {
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                width: 100%;
            }
        }
    } 
}

.clinic_notice_list {
    background-color: #fff;
    li {
        font-weight: 400; font-size: 13px; color: #222; position: relative; margin-bottom: 16px; text-align: left; margin-left: 20px; word-break: keep-all;
        &::before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url(/pc/cnp/images/special-clinic/clinic_ptt__check_icon.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 2px;
            left: -25px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*Drt*/
.drt_history {
    padding: 20px;
    .list_bx {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 20px;
        ul {
            padding: 4px 0;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .date {
                    font-weight: 500;
                    font-size: 18px;
                    color: #222;
                    margin-right: 10px;
                }
                .circle {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #ffb400;
                    border: 3px solid #fff;
                    position: relative;
                    
                }
                .tit {
                    font-weight: 500;
                    font-size: 14px;
                    color: #222;
                    text-align: left;
                    position: relative;
                    left: 20px;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 11px;
                        height: 0;
                        border-top: 2px dotted #ffb400;
                        vertical-align: 3px;
                        transform: translateY(-50%);
                        position: absolute;
                        top: 50%;
                        left: -18px;
                    }
                    .des {
                        font-size: 12px;
                        color: #666;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }     
        }
        &::after {
            content: '';
            width: 3px;
            height: 100%;
            background-color: #666;
            position: absolute;
            border-radius: 25px;
            top: 0;
            left: 52.5px;
            z-index: -1;
        }
    }
    > p {
        font-size: 13px;
    }
}
.drtgraph {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    gap: 40px;
    .txt_bx {
        strong {
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.25;
            margin-bottom: 18px;
        }
        p {
            font-size: 14px;
            color: #666;
        }
    }
}
.drt_list_wrap {
    padding: 20px 0px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 12px;
        max-width: 350px;
        margin: 20px auto;
        @media screen and (max-width:340px) {
            column-gap: 5px;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border: 3px solid #ffb400;
            border-radius: 50%;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.25;
            color: #000;
        }
    }
    p {
        strong{
            color: #000;
        }
    }
}
.drt_notice {
    >div {
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}

/*mens*/
.mens_recommend {
    .clinic_inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        .img_bx {
            margin-bottom: 25px;
        }
    }
}
.mens_vs {
    .mens_vs_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        .badge {
            width: 200px;
            margin: 0 auto;
        }
        .img_bx {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            margin-bottom: 14px;
        }
        .txt_bx {
            margin-bottom: 20px;
            .badge {
                margin-bottom: 14px;
            }
            p {
                font-weight: 500;
                font-size: 14px;
                color: #666;
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;
            li {
                width: calc(50% - 4px);
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1.2;
                    width: 80px;
                    height: 80px;
                    border: 4px solid #dadada;
                    border-radius: 50%;
                    padding: 6px;
                    box-sizing: border-box;
                    position: relative;
                    transition: all 0.3s ease;
                    margin: 0 auto;
                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        background-image: url(/m/cnp/images/special_clinic/btn_arrow.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 22px;
                        height: 7px;
                        bottom: 12px;
                    }
                }
            }
            &.n_wrap {
                flex-wrap: nowrap;
            }
        }
        > div {
            width: 100%;
            background-color: #fff;
            padding: 20px 20px;
        }
    }
}
.mens_program_process {
    .badge {
        width: 90%;
        padding: 15.5px 9px;
        line-height: 1.22;
        margin: 0 auto;
    }
    .clinic_inner {
        padding: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            li {
                width: 100;
                position: relative;
                margin-bottom: 20px;
                .img_bx {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                .txt_bx {
                    word-break: keep-all;
                }
                .badge {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
/*holiday*/
.holiday_bx {
    .clinic_inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        .img_bx {
            width: 140px;
            margin-bottom: 20px;
        }
        .txt_bx {
            width: 100%;
            .badge {
                width: calc(100% - 30px);
                margin: 0 auto;
                margin-bottom: 15px;
                line-height: 1.2;
            }
        }
        & + .clinic_inner {
            margin-top: 20px;
        }
    }
}

.adolescent_bx {
    .clinic_flex_bx {
        .txt_bx {
            strong {
                display: inline-block;
                font-weight: 700;
                font-size: 14px;
                color: #000;
            }
        }
        &.type01 {
            flex-direction: column;
            .img_bx {
                width: 70%;
            }
            .txt_bx {
                width: 100%;
                margin-top: 10px;
                strong {
                    margin-bottom: 10px;
                }
            }
        }
        &.type02 {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 14px 30px;
            li {
                width: calc(100% / 2 - 15px);
                position: relative;
                .txt_bx {
                    strong {
                        margin-top: 4px;
                    }
                }
                &::before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-image: url(/pc/cnp/images/special-clinic/plus_icon4.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    transform: translateY(-50%);
                    top: calc(50% - 12px);
                    left: -20px;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &.type03 {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            li {
                width: calc(100% / 2 - 20px);
            }
        }
    }
}

/*step_stone*/
.step_stone_process {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    >div{
        .badge {
            font-size: 12px;
            color: #fff;
            padding: 8px 20px;
        }
        &:nth-child(1) {
            width: 100%;
            .badge {
                width: 100%;
            }
            img {
                width: 24px;
                margin: 20px auto;
            }
        }
        &:nth-child(2) {
            img {
                width: 30px;
                margin: 20px auto;
            }
        }
        &:nth-child(3) {
            width: 270px;
            .txt_bx {
                display: flex;
                flex-direction: column;
                width: 210px;
                height: 210px;
                color: #fff;
                background-color: #000;
                border-radius: 50%;
                margin: 0 auto;
                padding: 30px;
                strong {
                    display: inline-block;
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                p {
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }
    }
}
.step_stone_bx {
    .clinic_flex_bx {
        &.type01 {
            gap: 10px;
            flex-wrap: wrap;
            max-width: 380px;
            margin: 0 auto;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #000;
                line-height: 1.25;
                width: 90px;
                height: 90px;
                border: 4px solid #ffb400;
                border-radius: 50%;
            }
        }
    }
}
.step_stone_cross {
    margin: 40px auto 30px;
    .clinic_flex_bx {
        flex-direction: row;
        li {
            width: 260px;
            .badge {
                width: 100%;
            }
            &:nth-child(2) {
                width: 56px;
                margin: 0 8px;
            }
        }
    }
}

/*filler*/
.filler_bx {
    .clinic_flex_bx {
        &.type01 {
            flex-direction: row;
            gap: 10px;
            margin: 0 auto;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #000;
                line-height: 1.25;
                width: 80px;
                height: 80px;
                border: 4px solid #ffb400;
                border-radius: 50%;
            }
            @media screen and (max-width:370px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}
.filler_cross {
    margin: 40px auto 30px;
    .clinic_flex_bx {
        li {
            width: 260px;
            .badge {
                width: 100%;
            }
            &:nth-child(2) {
                width: 56px;
                margin: 0 8px;
                img {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.half_bx {
    .clinic_inner{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .img_bx {
            width: 100%;
            margin-bottom: 18px;
        }
        .txt_bx {
            width: 100%;
            strong {
                display: inline-block;
                font-size: 16px;
                margin-bottom: 30px;
                color: #000;
            }
            p {
                font-size: 12px;
            }
        }
    }
    &.flex_direction_row {
        .clinic_inner {
            flex-direction: row;
        }
    }
}
.filler_process {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 0;
        li {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 0 6px;
            .txt_bx {
                strong {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 14px;
                    color: #222;
                }
                p {
                    font-size: 12px;
                }
            }
            &::after {
                content: '';
                display: block;
                width: 6px;
                height: 10px;
                background-image: url(/pc/cnp/images/special-clinic/arrow_right2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: -10px;
            }
            &:nth-child(even) {
                &::after {
                    display: none;
                }
            }
        }
    }
}
.filler_list {
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
            width: 100%;
            .badge {
                width: 100%;
                margin: 0 auto 14px;
            }
        }
    }
}
/*d-day*/
.d-day_plan {
    margin-bottom: 35px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 320px;
        gap: 4px;
        margin: 0 auto;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 12px;
            color: #222;
            width: 90px;
            height: 90px;
            border: 4px solid #ffb400;
            border-radius: 50%;
            position: relative;
            &::before {
                content: '';
                width: 16px;
                height: 15px;
                background-image: url(/pc/cnp/images/special-clinic/d-day_icon_ldquo.png);
                background-size: 16px 15px;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #fff;
                transform: translateX(-50%);
                position: absolute;
                padding: 5px 10px;
                top: -20px;
                left: 50%;
            }
            &:nth-child(even) {
                border-color: #dadada;
            }
        }
    }
}